#nominativeContainer {
  width: 475px;
  height: 750px;
  padding: 20px;
}

/* ************* Header ************* */

#header {
  width: 415px;
  margin-left: 30px;
  display: flex;
  font-weight: 700;
  gap: 145px;
  margin-bottom: 15px;
}

#header h1 {
  font-size: 30px;
}

.subtitulo {
  text-align: right;
  font-size: 25px;
  font-weight: 700;
}

#header h3 {
  color: #706d6d;
  font-size: 15px;
}

/* ************* SIngular ************* */

.container {
  margin-bottom: 15px;
  display: grid;
  gap: 3px;
  grid-template:
    "0 A A A"
    "0 B C D"
    "E F G H"
    "I J K L";
  grid-template-columns: 25px 1fr 1fr 1fr;
  grid-template-rows: 31px 19px 93px 93px;
}

.singular_titulo {
  grid-area: A;
  background-color: #e52428;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.singular_Masc_Fem_Neu {
  background-color: #2d2c2c;
  font-size: 12px;
  font-weight: 500;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.blockE {
  grid-area: E;
  background-color: #f2f2f2;
  font-size: 13px;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
}

.blockE p {
  transform: rotate(-90deg);
}

.blockF {
  grid-area: F;
  display: grid;
  gap: 3px;
  grid-template:
    " A B"
    "C D";
  grid-template-rows: 24px;
}

.substantivo_icon_live {
  background-color: #e52428;
  background-image: url(assets/alive_icon.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.substantivo_icon_notAlive {
  background-color: #e52428;
  background-image: url(assets/notalive_icon.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.substantivo_masc_alive {
  background-color: #f2f2f2;
  background-image: url(assets/Genitivo_Singular_Substantivo_Masculino_alive.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.substantivo_masc_notAlive {
  background-color: #f2f2f2;
  background-image: url(assets/Genitivo_Singular_Substantivo_Masculino_notalive.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.blockG {
  grid-area: G;
  background-color: #f2f2f2;
  background-image: url(assets/Genitivo_Singular_Substantivo_Feminino.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.blockH {
  grid-area: H;
  background-color: #f2f2f2;
  background-image: url(assets/Genitivo_Singular_Substantivo_Neutro.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.blockI {
  grid-area: I;
  background-color: #f2f2f2;
  font-size: 13px;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
}

.blockI p {
  transform: rotate(-90deg);
}

.blockJ {
  grid-area: J;
  display: grid;
  gap: 3px;
  grid-template:
    "A B"
    "C D";
  grid-template-rows: 24px;
}

.adjetivo_masc_alive {
  background-color: #dadada;
  background-image: url(assets/Genitivo_Singular_Adjetivo_Masculino_alive.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.adjetivo_masc_notAlive {
  background-color: #dadada;
  background-image: url(assets/Genitivo_Singular_Adjetivo_Masculino_notalive.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.blockK {
  grid-area: K;
  background-color: #dadada;
  background-image: url(assets/Genitivo_Singular_Adjetivo_Feminino.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.blockL {
  grid-area: L;
  background-color: #dadada;
  background-image: url(assets/Genitivo_Singular_Adjetivo_Neutro.svg);
  background-repeat: no-repeat;
  background-position: center;
}

/* ************* Plural ************* */

.containerPlural {
  margin-bottom: 15px;
  display: grid;
  gap: 3px;
  grid-template:
    "0 A A A"
    "0 B C D"
    "E F F G"
    "H I I I";
  grid-template-columns: 25px 1fr 1fr 1fr;
  grid-template-rows: 31px 19px 93px 93px;
}

.plural_block_A {
  grid-area: A;
  background-color: #e52428;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.plural_block_BR {
  background-color: #2d2c2c;
  font-size: 12px;
  font-weight: 500;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.plural_block_E {
  grid-area: E;
  background-color: #f2f2f2;
  font-size: 13px;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
}

.plural_block_E p {
  transform: rotate(-90deg);
}

.plural_block_F {
  grid-area: F;
  background-color: #f2f2f2;
  background-image: url(assets/Acusativo_Plural_Substantivo_masculino_feminino.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.plural_block_G {
  grid-area: G;
  background-color: #f2f2f2;
  background-image: url(assets/Acusativo_Plural_Substantivo_neutro.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.plural_block_H {
  grid-area: H;
  background-color: #f2f2f2;
  font-size: 13px;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
}

.plural_block_H p {
  transform: rotate(-90deg);
}

.plural_block_I {
  grid-area: I;
  background-color: #dadada;
  background-image: url(assets/Acusativo_Plural_Adjetivo_masc_fem_neutro.svg);
  background-repeat: no-repeat;
  background-position: center;
}

/* ************************ Pronomes Pessoais ************************ */

.container_pronomes {
  display: grid;
  gap: 3px;
  grid-template:
    "A A A A A A A A A"
    "B C D E F G H I J"
    "K L M N O P Q R S";
  grid-template-rows: 31px 20px 70px;
}

.pronome_block_A {
  grid-area: A;
  background-color: #e52428;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.pronome_block_BR {
  background-color: #2d2c2c;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 12px;
  font-weight: 500;
}

.pronome_block_PL {
  background-color: #f2f2f2;
  font-weight: 900;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(10, 10, 10);
  font-size: 12px;
  font-weight: 500;
}

.box_PL {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
